@tailwind base;
@tailwind components;
@tailwind utilities;

.range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #555555;
    border-radius: 10px;
    outline: none;
  }

  .range-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #555555;
    border-radius: 10px;
  }

  .range-slider::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #555555;
    border-radius: 10px;
  }

  .range-slider::-ms-track {
    width: 100%;
    height: 5px;
    background: #555555;
    border-radius: 10px;
  }

  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #e53e3e;
    cursor: pointer;
    margin-top: -6px;
  }

  .range-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #e53e3e;
    border: none;
    cursor: pointer;
  }

  .range-slider::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #e53e3e;
    border: none;
    cursor: pointer;
  }

  .cartScroll::-webkit-scrollbar {
    display: none;
  }

  .active-tab {
    position: relative;
}

.flex-flow {
  flex-flow: row wrap;
}

 /* O código abaixo foi utilizado para remover as arrows do input number */
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

.active-tab::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F87171;
    animation: slideBorder 0.5s forwards;
}

.fadeIn {
  animation: fadeIn 1s ease;
}

.swiper-button-disabled-custom {
  opacity: 0.5;
}

@keyframes fadeIn {
  0% {opacity: 0;}
}

  @keyframes slideBorder {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
