body {
    background-color: #FAFAFB;
}

.home-carousel .swiper-pagination-bullet-active {
    background: #f43f5e!important;
    width: 12px!important;
    height: 12px!important;
}

.home-carousel .swiper-pagination-bullet {
    transition: 0.3s;
    background: #E1E1E1;
    width: 12px;
    height: 12px;
    opacity: 0.8;
}

.home-carousel .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    max-width: 100px!important;
    left: 50%!important;
}

@media(max-width:1280px) {
    .home-carousel .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: 50%!important;
        transform: translate(-50%, 0);
    }
}